*,*::before,*::after {
    box-sizing: border-box;
}


ul[class], ol[class] {
    padding: 0;
}


body, h1, h2, h3, h4, p,ul[class], ol[class], li, figure, blockquote, dl,
dd, figcaption {
    margin:0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;

}

img {
    width: 100%;
    display: block;
}

.wrapper {
    background-color: #5d8bd3;


}

.wrapper__item {
    width: 70%;
    height:100vh;
    margin: 0 auto;
    background-color: #fff;

}

.header {
    padding: 30px 0;
    border: 2px solid #7919e0;
}

.header__title {
    padding:30px;
    text-align: center;
    text-transform: uppercase;
}

.header__link {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;

}

.header__link a {
    text-decoration: none;
    color: #000000;
    border: #6cbb2c;
}

.content__news {
    display:flex;
}
.content__news-item {
    margin: 15px 0;
    padding: 15px;
    text-align: justify;
    border:2px solid #e0bc19;
}

.content__main {
    margin: 15px 0;
    padding: 15px;
    text-align: justify;
    border: 2px solid #6cbb2c;
}