* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    width:50vw;
    height:50vh;
    background-color: palevioletred;
    letter-spacing: 0;
    text-align: justify;
    vertical-align: middle;
}